
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header{
    display: flex;
    background-color: #D9D9D9;
    padding-top: 24px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 24px;
    height: auto;
    width: 100%;
}

.logo{
    height: auto;
    width: 100%;
    padding-top: 20px;
    padding-left: 50px;
}

.icone{
    height: auto;
    width: 20%;
    margin: 18px 14px 18px 14px;
    max-width: 100%;
    max-height: 100%;
}


.homepage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 100px;
    background-color: rgba(242, 242, 242, 1.0);
    background-image: url("settings/imagens/vale-agricola.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    }
    
    /* Define styles for the util area */
    .homepage-util-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    }
    
    /* Define styles for the superior part */
    .hp-superior-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    }
    
    /* Define styles for the title */
    .hp-title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    }
    
    /* Define styles for the subtitle */
    .hp-subtitle {
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    }

    .content {
        font-size: 16px;
        line-height: 1.5;
        text-align: justify;
    }
    
    /* Define styles for the mid part */
    .hp-mid-part {
    display: grid;
    justify-content: center;
    align-items: center;
    }
    
    /* Define styles for the main image */
    .hp-main-image {
    max-width: 100%;
    height: auto;
    }
    
    /* Define styles for the bottom part */
    .hp-bottom-part {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    }
    
    /* Define styles for the button space */
    .hp-button-space {
    margin-bottom: 20px;
    }
    
    /* Define styles for the button */
    .hp-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background-color: #5C5C5C;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    }
    
    /* Define styles for the button on hover */
    .hp-button:hover {
    background-color: #222222;
    }
    