
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
}

.logo{
    width: 100%;
    height: auto;
    padding-left: 200px;
    align-items: center;
}

.logo img {
    width: 100%;
    max-width: 200px;
    height: auto;
}

.icone{
    width: 100%;
    height: auto;
    padding-left: 400px;
}

.icone img {
    width: 100%;
    max-width: 20px;
    height: auto;
}

.homepage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    padding: 100px 200px 150px 200px;
    background-image: url("settings/imagens/vale-agricola.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    }
    
    /* Define styles for the util area */
    .homepage-util-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    }
    
    /* Define styles for the superior part */
    .hp-superior-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    }
    
    /* Define styles for the title */
    .hp-title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    }
    
    /* Define styles for the subtitle */
    .hp-subtitle {
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    }

    .content {
        font-size: 16px;
        line-height: 1.5;
        text-align: justify;
    }
    
    /* Define styles for the mid part */
    .hp-mid-part {
    display: grid;
    justify-content: center;
    align-items: center;
    }
    
    /* Define styles for the main image */
    .hp-main-image {
    max-width: 100%;
    height: auto;
    }
    
    /* Define styles for the bottom part */
    .hp-bottom-part {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    }
    
    /* Define styles for the button space */
    .hp-button-space {
    margin-bottom: 20px;
    }
    
    /* Define styles for the button */
    .hp-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background-color: #5C5C5C;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    }
    
    /* Define styles for the button on hover */
    .hp-button:hover {
    background-color: #222222;
    }
    
    h1, h3{
        margin-top: 50px;
    }

    h1{
        margin-bottom: 30px;
    }

    .content{
        margin: 5px;
    }
    @media screen and (max-width: 768px) {
        .homepage-container {
          padding: 50px 70px 50px 70px;
        }
        
        .logo {
          padding-left: 0;
          text-align: center;
        }

        .logo img {
            width: 100%;
            max-width: 170px;
            height: auto;
        }
        
        .icone {
          padding-left: 0;
          text-align: center;
        }

        .icone img {
            width: 100%;
            max-width: 20px;
            height: auto;
        }
        
        .homepage-util-area {
          padding: 10px;
        }
        
        .hp-title {
          font-size: 24px;
        }
        
        .hp-subtitle {
          font-size: 14px;
        }
        
        .content {
          font-size: 14px;
        }
        
        .hp-main-image {
          margin-top: 20px;
          margin-bottom: 20px;
        }
        
        .hp-button {
          width: 80px;
          height: 30px;
          font-size: 14px;
        }
      }
      
      @media screen and (max-width: 480px) {
        .homepage-container {
          padding: 20px;
        }

        .homepage-util-area {
          border-radius: 5px;
        }
        
        .hp-title {
          font-size: 20px;
        }
        
        .hp-subtitle {
          font-size: 12px;
        }
        
        .content {
          font-size: 12px;
        }
        
        .hp-main-image {
          margin-top: 10px;
          margin-bottom: 10px;
        }
        
        .hp-button {
          width: 60px;
          height: 20px;
          font-size: 12px;
        }
      }
      