* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    background-color: #D9D9D9;
    padding: 10px;
}

.logo{
    width: 100%;
    height: auto;
    padding-left: 200px;
    align-items: center;
}

.logo img {
    width: 100%;
    max-width: 200px;
    height: auto;
}

.icone{
    width: 100%;
    height: auto;
    padding-left: 400px;
}

.icone img {
    width: 100%;
    max-width: 20px;
    height: auto;
}

.botao-voltar{
    width: 100%;
    max-width: 30px;
    height: auto;
}

.botao-voltar img {
    width: 100%;
    max-width: 20px;
    height: auto;
}

.login {
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
    border-radius: 30px;
    padding: 10px 0px 50px 0px;
    margin: 100px 500px 100px 500px;
}

.titulo{
    margin: 50px;
    text-align: center;
}

.div-email{
    margin: 20px 0px 20px 0px;
}

.div-senha{
    margin: 20px 0px 20px 0px;
}

.div-login{
    margin: 20px 0px 20px 0px;
}

.div-criar-conta{
    margin: 20px 0px 20px 0px;
}

