@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: rgba(240,240,240);
}

.header {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
}

.brasao {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
}

.brasao img {
  max-width: 55px;
  height: auto;
}


.logo{
    width: 100%;
    height: auto;    
    align-items: center;
}

.logo img {
    width: 100%;
    max-width: 140px;
    height: auto;
}

.icone{
    width: 100%;
    height: auto;
    
}

.icone img {
    width: 100%;
    max-width: 20px;
    height: auto;
}

html {
	height: 100%;
    width: 100%;
}
body {
    height: 100vh;
}

.home-page-util {
    background-size: cover;
    background-position: bottom center;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(240,240,240);
    width: 100%;
}

.home-page {
    background-color: rgba(250, 250, 250, 0.8);
    padding: 10px 30px; 
    border-radius: 10px;
    box-shadow: 0 0 20px #0000;
    transition: all ease .3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.titulo {	
    font-size: 35px;
    text-align: center;
    text-shadow: 2px 2px var #0000;
    margin: 10px;
}

form {
	display: flex;
	flex-direction: column;
}

label {
    margin-top: 5px;
	margin-bottom: 10px;
    font-size: 20px;
}

input {
	padding: 10px;
	font-size: 20px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: none;
}

.botao-voltar img {
    width: 100%;
    max-width: 30px;
    height: auto;
    margin: 10px;
}

.botao {
	display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 43px;
    border-radius: 5px;
    background-color: #5C5C5C;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-top: 10px;
    margin: auto;
    font-size: 22px;
}

.botao:hover {
    background-color: #222222;
}

@media only screen and (max-width: 768px) {
    .logo{
        padding-left: 5%;
    }

    .icone{
        padding-left: 10%;
    }

    .home-page-util {
        height: 100vh;
        padding: 10px;
    }
}

@media only screen and (max-width: 450px) {
      .titulo {
        font-size: 32px;
      }
      .home-page-util {
          height: 90vh;
      }
      .home-page{
          width: 100%;
          height: auto;
          padding: 10px;
      }
}

@media only screen and (max-width: 320px) {
    .logo {
      padding-left: 20px;
    }
    .icone {
      padding-left: 40px;
    }
    .titulo {
      font-size: 25px;
    }
    .home-page-util {
        height: 90vh;
    }
    .home-page{
        width: 100%;
        height: auto;
        padding: 7px;
    }
  
}

.dark-mode {
    background-color: #333;
    color: #fff;
  }

  .dark-mode .home-page-util{
    background-color: #000000;
  }
  
  .dark-mode .header {
    background-color: #363636;
  }
  
  .dark-mode .logo img {
    filter: invert(1);
  }
  
  .dark-mode .icone img {
    filter: invert(1);
  }

  .dark-mode .botao-voltar img {
    filter: invert(1);
  }
  
  .dark-mode .home-page {
    background-color: #363636;
  }
  
  .dark-mode label {
    color: #fff;
  }
  
  .dark-mode input {
    background-color: #424242;
    color: #fff;
  }
  
  .dark-mode .div-senha {
    border-color: #fff;
  }
  
  .dark-mode #olho-senha {
    color: #fff;
  }

    .dark-mode .link,
    .dark-mode .create-account{
      color: #fff;
    }

    .dark-mode .botao:hover {
        background-color: #222222;
    }