@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
}

.brasao {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Adicionado para posicionar à direita */
  width: 100%;
  height: auto;
}

.brasao img {
  max-width: 55px;
  height: auto;
}


.logo{
    width: 100%;
    height: auto;    
    align-items: center;
}

.logo img {
    width: 100%;
    max-width: 140px;
    height: auto;
}

.icone{
    width: 100%;
    height: auto;
    
}

.icone img {
    width: 100%;
    max-width: 20px;
    height: auto;
}

.homepage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    padding: 100px 200px 150px 200px;
    background-image: url("settings/imagens/vale-agricola.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    }
    
    .homepage-util-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    }

    .link{
      color: #222222;
    }
    
    .hp-superior-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    }
    
    .hp-title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    }
    
    .hp-subtitle {
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    }

    .content {
        font-size: 16px;
        line-height: 1.5;
        text-align: justify;
    }
    
    .hp-mid-part {
    display: grid;
    justify-content: center;
    align-items: center;
    }
    
    .hp-main-image {
    max-width: 100%;
    height: auto;
    }
    
    .hp-bottom-part {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    }
    
    .hp-button-space {
    margin-bottom: 20px;
    }
    
    .hp-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 50px;
    border-radius: 5px;
    background-color: #5C5C5C;
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    font-size: 20px;
    }
    
    .hp-button:hover {
    background-color: #222222;
    }
    
    h1, h3{
        margin-top: 50px;
    }

    h1{
        margin-bottom: 30px;
    }

    .content{
        margin: 5px;
    }
    @media screen and (max-width: 768px) {
        .homepage-container {
          padding: 50px 70px 50px 70px;
        }
        
        .logo {
          padding-left: 0;
          text-align: center;
        }

        .logo img {
            width: 100%;
            max-width: 170px;
            height: auto;
        }
        
        .icone {
          padding-left: 0;
          text-align: center;
        }

        .icone img {
            width: 100%;
            max-width: 20px;
            height: auto;
        }
        
        .homepage-util-area {
          padding: 10px;
        }
        
        .hp-title {
          font-size: 24px;
        }
        
        .hp-subtitle {
          font-size: 14px;
        }
        
        .content {
          font-size: 14px;
        }
        
        .hp-button {
          width: 90px;
          height: 45px;
          font-size: 17px;
        }
      }
      
      @media screen and (max-width: 480px) {
        .homepage-container {
          padding: 20px;
        }

        .homepage-util-area {
          border-radius: 5px;
        }
        
        .hp-title {
          font-size: 20px;
        }
        
        .hp-subtitle {
          font-size: 12px;
        }
        
        .content {
          font-size: 12px;
        }
        
        .hp-main-image {
          margin-top: 10px;
          margin-bottom: 10px;
        }
        
        .hp-button {
          width: 80px;
          height: 40px;
          font-size: 16px;
        }
      }
      

      .dark-mode {
        background-color: #333;
        color: #fff;
      }
      
      .dark-mode .header {
        background-color: rgba(0, 0, 0, 0.8);
      }
      
      .dark-mode .logo img {
        filter: invert(1);
      }
      
      .dark-mode .icone img {
        filter: invert(1);
      }
      
      .dark-mode .login {
        background-color: rgba(0, 0, 0, 0.8);
      }
      
      .dark-mode label {
        color: #fff;
      }
      
      .dark-mode input,
      .dark-mode .botao,
      .dark-mode .create-account,
      .dark-mode .botao-voltar img {
        background-color: #333;
        color: #fff;
      }
      
      .dark-mode .div-senha {
        border-color: #fff;
      }
      
      .dark-mode #olho-senha i {
        color: #fff;
      }
      
      .dark-mode .homepage-util-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(40, 40, 40, 0.85);
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        }

        .dark-mode .link{
          color: #fff;
        }
      